.bg-warning {
    background-color: #ffdd57 !important;
}

.txt-green-yellow {
    color: #9acd32 !important;
}

.bg-green-yellow {
    background-color: #9acd32 !important;
}

.bg-gray {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.bg-aqua {
    background-color: #ccf7f7 !important;
}
