.v-centered {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
	height: 100%;
	justify-content: center;
}

.v-centered-block {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
	justify-content: center;
}

.b-bt {
	border-bottom: 1px solid #dbdbdb !important;
}
.b-tp {
	border-top: 1px solid #dbdbdb !important;
}

.b-br {
	border-right: 1px solid #dbdbdb !important;
}

.b-r-2 {
	border-radius: 2rem!important;
}

.b-shadow {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.m-t-0 {
  margin-top: 0px!important;
}

.m-b-0 {
  margin-bottom: 0px!important;
}

.m-b-0-5 {
  margin-bottom: 0.5rem!important;
}

.m-b-0-7-5 {
  margin-bottom: 0.75rem!important;
}

.m-t-0-2 {
  margin-top: 0.2rem!important;
}

.m-t-1-5 {
  margin-top: 1.5rem!important;
}

.m-b-1-5 {
  margin-bottom: 1.5rem!important;
}
.m-b-2 {
  margin-bottom: 2rem!important;
}

.m-b-5 {
  margin-bottom: 5rem!important;
}
.m-b-3 {
  margin-bottom: 3rem!important;
}

.dotted-b{
 border: 1px dotted !important;
}

.p-t-0-5 {
  padding-top: 0.5rem !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-t-0-2 {
  padding-top: 0.2rem!important;
}

.p-t-1 {
  padding-top: 1rem !important;
}

.p-b-1 {
  padding-bottom: 1rem !important;
}
.p-b-2 {
  padding-bottom: 2rem !important;
}
.p-b-3 {
  padding-bottom: 3rem !important;
}

.p-l-r-0-2 {
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}

.p-l-0-5 {
  padding-left: 0.5rem !important;
}
.full-h{
    height: 100%!important;
}

.full-90-h{
    height: 90%!important;
}

.full-40-h{
    height: 40%!important;
}

iframe.video {
	width: 100%;
    min-height: 350px;
}

.container figure.featured img {
    max-height: 350px !important;
}

.navbar-fixed {
    top: 0;
    z-index: 100 !important;
    position: fixed !important;
    width: 100% !important;
}

.header-overlay-bg1 {
	background: url('../images/bg/bg6.jpg');
    background-size: cover;
}

.header-overlay-bg2 {
	background: url('../images/bg/bg4.jpg');
    background-size: cover;
}

.contact-map{
	height: 5rem;
}
.chart_container{
	min-height: 400px;
}

.h-250{
	height: 250px !important;
}

.nav-item img {
    max-height: 2.75rem !important;
}



